* {
  font-family: 'Cutive Mono', monospace;
}

body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  color: white;
}

.heading {
  background-color: #39b8cc;
  padding: 20px;
}

input {
  text-align: center;
  padding: 1vmin;
  font-size: calc(10px + 2vmin);
	border-radius: 10px;
}

#username {
  margin: 5px;
  width: 65vmin;
  
}

#room-code {
  margin: 5px;
  width: 30vmin;
}


button {
  width: 32.5vmin;
  padding: 1vmin;
	border-radius: 10px;
  font-size: calc(10px + 2vmin);
  margin: 5px;
}

button:hover {
  cursor: pointer;
}
